@font-face {
  font-family: "lato";
  src: url(../font/Lato-Regular.ttf);
}
* {
  box-sizing: border-box;
}
* {
  font-family: "lato";
}
body {
  margin: 0;
  padding: 0;
}

/* navbar */

#menuHeader {
  display: flex;
  width: 100%;
  height: 7vh;
  position: fixed;
  position: relative;
  z-index: 2;
  background-color: black;
}

#menuHeader ul {
  width: 50vh;
  list-style-type: none;
  position: absolute;
  border: none;
  top: 60px;
  background-color: rgba(red, green, blue, alpha);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  width: 30vh;
  height: 30vh;

  overflow: hidden;
  transition: all 0.5s;
}

#brand {
  font-size: 2rem;
  letter-spacing: 2px;
  position: absolute;
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
}
/* menu resp */
#burger {
  color: white;
  font-size: 2rem;
  position: absolute;
  right: 15px;
  top: 15px;
}
#box:checked ~ ul {
  max-height: 50vh;
}
#box {
  display: none;
}
#box:not(:checked) ~ ul {
  max-height: 0;
  
}
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #333;
  height: 50vh;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  text-align: left;
}
.navbar {
  display: flex;
  flex-direction: column;
  background-color: black;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: rgb(219, 208, 208);
  color: black;
}

/* FIN menu nav */

/* header photo */
#header {
  background-image: url(../img/la.jpg);

  background-size: cover;
}

/* the band section */
#theBand h1 {
  text-align: center;
  padding-top: 4rem;
  font-size: 3rem;
}
#theBand h2 {
  font-style: oblique;
  text-align: center;
  color: grey;
}
#theBand p {
  font-size: 1.5rem;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;

}
#theBand {
  padding-bottom: 2rem;
}

/* photos section */
#midPhotos {
  display: flex;
  flex-direction: column;
}
#midPhotos h2 {
  text-align: center;
}
.imgFrame {
  display: flex;
  justify-content: center;
}
.imgFrame img {
  width: 300px;
  border-radius: 2%;
}

#mid {
  height: 60vh;
  background-color: black;
  color: white;
}
#mid h3 {
  padding-top: 9rem;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.5rem;
}
#mid h4 {
  font-style: italic;
  font-size: 1.5rem;
  color: grey;
  text-align: center;
}
.tickets {
  background-color: white;
}
.tickets2 {
  background-color: white;
}

.tickets h5 {
  text-align: left;
  color: grey;
  font-size: 1.8rem;
  border-bottom: grey solid 1px;
  margin: 0%;
  height: 7vh;
  padding-top: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.tickets2 h5 {
  text-align: left;
  color: grey;
  font-size: 1.8rem;
  border-bottom: grey solid 1px;
  margin: 0%;
  height: 7vh;
  padding-top: 0.7rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sold {
  background-color: red;
  color: white;
}
.dispo {
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.3rem;
}

#newYork {
  margin: 1rem;
  height: 60vh;
  background-color: white;
}
#newYork h3 {
  padding-left: 1rem;
  color: black;
  font-size: 1rem;
}
#newYork h5 {
  padding-left: 1rem;
}
#newYork h4 {
  padding-left: 1rem;
  color: grey;
}
main {
  background-color: black;
}
#newYork input {
  background-color: black;
  margin-left: 1rem;
  color: white;
}
#newYork img {
  width: 100%;
}
#BuyTickets {
  width: 100px;
  height: 40px;
}
/* fin section main */

/* section contact */
#contact {
  padding-top: 4rem;
  width: 100%;
  height: 70vh;
  background-color: white;
}
#contact h4 {
  text-align: center;
  font-size: 2rem;
}
#contact h5 {
  text-align: center;
  color: grey;
  font-style: italic;
}
#contactForm {
  width: 100%;
  padding: 1rem;
  background-color: white;
}
#contactForm input {
  width: 93%;
  padding: 0.7rem;
  margin: 0.5rem;
  height: 3.5rem;
  font-size: 1rem;
  border-color: white;
}
#contactForm button {
  width: 100px;
  padding: 0.7rem;
  margin: 0.5rem;
  height: 3.5rem;
  font-size: 1rem;
  background-color: black;
  color: white;
}
.send {
  position: absolute;

  right: 2rem;
}

.imgFoot img {
  width: 100%;
}
h6 {
  text-align: center;
}
/* footer */
.reseaux {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
#contact h6 {
  text-align: center;
}
#contact h4 {
  font-size: 1rem;
}
.fans h4 {
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.2rem;
}
.fans h5 {
  font-style: italic;
  text-align: center;
  color: grey;
}

/* format desktop */
@media screen and (min-width: 576px) {
  #menuHeader label {
    display: none;
  }

  .navbar a {
    color: white;
    font-size: 1.5rem;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
  }
  /* search button */
  .search {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: white;
    font-size: 2rem;
  }
  #menuHeader {
    position: relative;
  }
  #menuHeader ul {
    top: 0.1rem;

    height: 6vh;
    width: 50%;
    color: black;
  }
  #box:not(:checked) ~ ul {
    max-height: 70vh;
  }
  /* fin menu */

  #header {
    color: black;
    font-size: 1.5rem;
    height: 70vh;
  }
  #theBand {
    margin-right: 10%;
    margin-left: 10%;
  }

  #midPhotos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* photo section */
  #newYork {
    width: 32%;
  }
  #spectacle {
    display: flex;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .tickets {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .tickets2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  /* section contact */

  #contactForm {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    padding-right: 10%;
  }
  .contactMessage {
    width: 100%;
  }
  .adress {
    width: 30%;
    padding-left: 10%;
  }
  #contact h4 {
    font-size: 1rem;
  }

  #contactForm button {
    position: absolute;
    right: 24%;
    top: 20vh;
  }
  #contact {
    display: flex;
    justify-content: space-between;
    height: 30vh;
  }

  .fans h4 {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 0.2rem;
  }
  .fans h5 {
    font-style: italic;
    text-align: center;
    color: grey;
  }

  h6 {
    text-align: center;
  }

  .imgFoot img {
    
    width: 100%;
    padding-top: 10rem;
  }
}
